version: '3.8'

services:
  # Основной сервис
  exchange-app:
    build: .
    container_name: uz_exchange_app
    command: tail -f /dev/null
    volumes:
      - ./data:/app/data
      - ./config.php:/app/config.php

  # Сервис-планировщик (Cron)
  cron:
    image: mcuadros/ofelia:latest
    container_name: uz_exchange_cron
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./ofelia.conf:/etc/ofelia.conf:ro
    command: daemon
